/* html, body{
    margin: 0%;
    padding: 0%; */
/* } */
p{
    color: rgb(110, 8, 42);
    /* background-color: rgb(252, 176, 252); */
    font-family: fantasy;
    
}

img{
    border-color: black;
    border-radius: 2px;
}