#calculator{
    margin-left: 400px;
    display: inline-block;
    padding: 30px;
    border-radius: 30px;
}
#ans{
    
    padding: 55px 75px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

.btn{
   /* background-color: rgb(179, 255, 179); */
    font-weight: bolder;
    padding: 15px 25px;
    margin-left: 0px;
    font-size: 30px;
    background: transparent;
    color: rgb(1, 26, 7);
    border: none;
}
#first{
    margin-top: 15px;
    margin-left: 20px;

}