/* html, body{
    margin: 0%;
    padding: 0%; */
/* } */
p{
    color: rgb(16, 1, 24);
    background-color: rgb(252, 176, 252);
    font-family: fantasy;
    font-size: medium;

}

img{
    border-color: rgb(28, 1, 39);
    border-radius: 2px;
    
}

button{
    color: black;
    border-radius: 10px;
    border-color: blue;
}