.stylec{
    margin-left: 400px;
    display: inline-block;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(167, 255, 167)
}
#ans{
    background-color: white;
    /* padding: 60px 75px; */
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    width: 350px;
    height: 150px;
    
}

#btn{
    font-weight: bolder;
    padding: 15px 25px;
    margin-left: 0px;
    font-size: 30px;
    background: transparent;
    color: rgb(1, 26, 7);
    border: none;
    margin-left: 10px;   
}