.stylec{
    /* padding-top: 10px; */
    text-align:center;
    margin-left: 400px;
    display: inline-block;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(247, 224, 247)
}
#ans{
    background-color: white;
    /* padding: 60px 75px; */
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    width: 350px;
    height: 150px;
    
}

#btn{
    text-align: center;
    font-weight: bolder;
    padding: 15px 25px;
    margin-left: 0px;
    font-size: 30px;
    background: transparent;
    color: rgb(26, 1, 29);
    border: none;
    margin-left: 10px; 
    border-radius: 50px;
}

#btn:hover{
    background-color: rgb(247, 195, 252);
}

